<div class="container">
  <mat-toolbar  class="toolbar" style="z-index: 10; background-color: black; color: white">
    <button mat-button [routerLink]="['/login']">LOG IN</button>
    <button mat-button [routerLink]="['/registration']">REGISTRATION</button>
  </mat-toolbar>
  <div class="content">
   <!-- <div class="images" [ngStyle]="{ 'background-image': 'url(' + photo + ')'}"> </div>
    <p>asdasd</p>-->


    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:60px">

      <!-- Automatic Slideshow Images -->
      <div class="mySlides w3-display-container w3-center" [hidden]="displayImages[0]">
        <img src="../../../../assets/images/mainpage/rab.jpg" style="width:100%">
      </div>
      <div class="mySlides w3-display-container w3-center" [hidden]="displayImages[1]">
        <img src="../../../../assets/images/mainpage/pig.jpg" style="width:100%">

      </div>
      <div class="mySlides w3-display-container w3-center" [hidden]="displayImages[2]">
        <img src="../../../../assets/images/mainpage/pug.jpg" style="width:100%">
      </div>

      <!-- The Band Section -->
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">PETREW</h2>
        <p class="w3-opacity"><i>Visit all around you with your small happy</i></p>
        <p class="w3-justify description">Description here</p>
      </div>

      <!-- The Tour Section -->
      <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
          <h2 class="w3-wide w3-center features">FEATURES</h2>
          <p class="w3-opacity w3-center main-features"><i>Our main features</i></p><br>

          <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">
              <img src="../../../../assets/images/mainpage/bird.jpg" alt="Dogs" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b class="feature1">Feature#1</b></p>
                <p class="description1">Description1.</p>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="../../../../assets/images/mainpage/cat1.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b class="feature2">Feature#2</b></p>
                <p class="description2">Description2.</p>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="../../../../assets/images/mainpage/birds.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b class="feature3">Feature#3</b></p>
                <p class="description3">Description3</p>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="../../../../assets/images/mainpage/map.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b class="feature4">Feature#4</b></p>
                <p class="description4">Description4.</p>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="../../../../assets/images/mainpage/dog.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b class="feature5">Feature#5</b></p>
                <p class="description5">Description5.</p>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="../../../../assets/images/mainpage/shpriz.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b class="feature6">Feature#6</b></p>
                <p class="description6">Description6</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The Contact Section -->
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center contact">CONTACT</h2>
        <p class="w3-opacity w3-center contact-info"><i>Contact us, don't wait</i></p>
        <div class="w3-row w3-padding-32">
          <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> <span class="location">Kharkiv, Ukraine</span><br>
            <i class="fa fa-phone" style="width:30px"></i> <span class="phone">Phone: +xxxxxxxxx</span><br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
          </div>
          <div class="w3-col m6">
          </div>
        </div>
      </div>

      <!-- End Page Content -->
    </div>

    <!-- Image of location/map -->
    <img src="assets/images/mainpage//cat.jpg" class="w3-image w3-greyscale-min" style="width:100%">

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p class="w3-medium footinfo">Powered by <b>Stanislav Danylenko</b> using w3.css</p>
    </footer>


  </div>
</div>


